body {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
}

.container-card {
    padding-top: 10%;
    font-family: 'Sen', sans-serif
}
.card-body {
    text-align: center;
    font-size: 3rem;
    line-height: 1.25rem;
}

.front-end {
    line-height: 3rem;
}