body {
    font-family: 'GFS Didot', serif;
 }

 .header-container {
    display: flexbox;
    justify-content: center;

 }
 
.header-title  {
     font-size: 5rem;
     font-weight: 400;
     float: right;
     padding-right: 10%;
     padding-top: 10%;
 } 

 @media screen and (max-width: 800){
    .header-container {
        display: flexbox;
        flex-direction: column;
    }
    .header-title  {
        font-size: 2.5rem;
        font-weight: 400;
        padding-left: 25%;
      
    } 
 }

@media screen and (max-width: 390px) {
    .header-container {
        display: flexbox;
        flex-direction: column;
        gap: 10px;
       }

    .header-title {
        padding-left: 25%
    }
 }