body {
    font-family: 'GFS Didot', serif;
 }

 .header-container {
    display: flex;
    justify-content: center;
    margin: 15rem;
    margin-top: 4rem;
      
 }
 
.header-title  {
     font-size: 5rem;
     font-weight: 400;
     float: right;
 } 

 .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-style: italic;
}

.nav-item-link {
    margin-right: 40px;

}

.nav-item-link a {
    color: rgb(237, 243, 248);
  }
  
 .nav-item-link a:link { text-decoration: none; }
  
  a:visited { text-decoration: none; }
  
 .nav-item-link a:hover { 
    text-decoration: underline;
 }
  
  a:active { text-decoration: none; }
 @media screen and (max-width: 800){
    .header-container {
        display: flex;
        flex-direction: column;
    }
    .header-title  {
        font-size: 2.5rem;
        font-weight: 400;
        padding-left: 25%;
      
    } 
 }

@media screen and (max-width: 390px) {
    .header-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
       }

    .header-title {
        padding-left: 25%
    }
 }